.card {
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    height: 35rem;
    padding: .5rem;
    background: $color-grey-light-3;
    font-family: $font-primary;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: $shadow-dark;

    @media only screen and (max-width: $bp-largest) {
        height: 100%;
    }

    &__info {
        display: grid;
        grid-template-columns: max-content 1fr;


        &--titles {
            text-align: right;
            list-style: none;
            color: $color-grey-dark-1;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;

            & > * {
                padding: 3px 0;

                &:last-child {
                    margin-top: auto;
                }
            }
        }

        &--selected {
            list-style: none;
            padding-left: 5px;

            & > * {
                word-break: break-word;
                padding: 3px 0;
            }
        }
    }

    @media only screen and (max-width: $bp-small) {

        display: none;
        visibility: hidden;
    }
}

.popupCard{

    display: flex;
    justify-content:center;
    flex-direction: column;
    height: 40rem;
    width: 50vw;
    padding: .5rem;
    background: rgba($color-grey-light-3, .95);
    font-family: $font-primary;
    font-size: 1.6rem;
    border-radius: 1rem;
    box-shadow: $shadow-dark;
    position: fixed;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    -webkit-backdrop-filter: blur(1000px) !important;
    backdrop-filter: blur(1000px) !important;
    z-index: 300;

        &__info {
            display: grid;
            grid-template-columns: max-content 1fr;
    
    
            &--titles {
                text-align: right;
                list-style: none;
                color: $color-grey-dark-1;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
    
                & > * {
                    padding: 3px 0;
    
                    &:last-child {
                        margin-top: auto;
                    }
                }
            }
    
            &--selected {
                list-style: none;
                padding-left: 5px;
    
                & > * {
                    word-break: break-word;
                    padding: 3px 0;
                }
            }
        }

}

