.table {
    background: $color-grey-light-3;
    margin-left: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    grid-column: 2 / -1;
    font-family: $font-primary;
    font-size: 1.6rem;
    box-shadow: $shadow-dark;
    border-spacing: 0;

    &__head {
        background-image: linear-gradient(to right, $color-secondary-light-1, $color-primary-light-2);
        text-align: left;
        align-content: center;
        color: #fff;

        &-row > * {
            padding: 1rem;

            &:not(:first-child) {
                border-right: $border-light;
             }
        }

        &-name {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }

        &-phone {
            text-align: right;
        }
    }

    &__body {
        color: $color-grey-dark-3;

        &:hover {
            background: $color-primary-light-2;

            &-buttons > * {
                background: red;
            }
        }

        &-row > * {
            padding: .9rem;
            border-bottom: $border-light;
            cursor: pointer;
        }

        &-phone {
            text-align: right;
        }

        &-buttons {

            & > * {
                color: currentColor;
                height: 2.5rem;
                width: 2.5rem;

                cursor: pointer;
                margin-left: 1rem;
                border-radius: 5px;
                transition: all .2s;
                outline: none;
            }
        }
    }
}

.offline {
    color: rgba(255, 82, 82, 1);
    border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

.online {
    color: rgba(51, 217, 178, 1);
    border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
	animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
	}
}