.table {
    background: $color-grey-light-3;
    margin-left: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    grid-column: 2 / -1;
    font-family: $font-primary;
    font-size: 1.6rem;
    box-shadow: $shadow-dark;
    border-spacing: 0;

    @media only screen and (max-width: $bp-small) {
        margin-left: 0;
    }

    &__head {
        background-image: linear-gradient(to right, $color-secondary-light-1, $color-primary-light-2);
        text-align: left;
        align-content: center;
        color: #fff;

        &-row > * {
            padding: 1rem;

            &:not(:first-child) {
                border-right: $border-light;
             }
        }

        &-name {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }

        &-phone {
            text-align: right;
        }
    }

    &__body {
        color: $color-grey-dark-3;

        &:hover {
            background: $color-primary-light-2;

            &-buttons > * {
                background: red;
            }
        }

        &-row > * {
            padding: .9rem;
            border-bottom: $border-light;
            cursor: pointer;

            @media only screen and (max-width: $bp-mini) {
                padding: 1rem .4rem;
            }
        }

        &-phone {
            text-align: right;
        }

        &-buttons {  

            & > * {
                border: none;
                cursor: pointer;
                margin-left: 5px;
                padding: 2px 3px;
                border-radius: 5px;
                color: $color-grey-dark-3;
                outline: none;
                background-color: $color-grey-light-3;
                transition: all .2s;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: $shadow-light;

                    &:active {
                        transform: translateY(0px);
                    }
                }

                @media only screen and (max-width: $bp-mini) {
                    margin-left:.5rem;
                }
            }
        }

        @media only screen and (max-width: $bp-largest) {
            &-city {
                visibility: hidden;
                display: none;


            }
        }

    }
    @media only screen and (max-width: $bp-largest) {
        font-size: 1.6rem;
    }
        

    @media only screen and (max-width: $bp-large) {
        .table {
            &__head {
                &-email {
                    visibility: hidden;
                    display: none;
                }
            }

            &__body {
                &-email {
                    visibility: hidden;
                    display: none;
                }
            } 
        }
    }

    @media only screen and (max-width: $bp-small) {
        .table {
            &__head {
                &-phone {
                    visibility: hidden;
                    display: none;
                }
            }

            &__body {
                &-phone {
                    visibility: hidden;
                    display: none;
                }
            } 
        }
    }
}

.offline {
    color: rgba(255, 82, 82, 1);
    border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

.online {
    color: rgba(51, 217, 178, 1);
    border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
	animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
	}
}