.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0;

    font-family: $font-primary;
    background-color: $color-primary-dark-2;
    height: 7rem;

    &__logo {
        font-family: $font-logo;
        font-size: 4rem;
        color: #fff;
        margin-left: 3rem;

        @media only screen and (max-width: $bp-medium) {
            padding-top: .5rem;
            font-size: 3.15rem;
        }

        @media only screen and (max-width: $bp-mini) {
            margin-left: 0;
        }
    }

    &-buttons {
        list-style: none;
        display: flex;
        border-radius: 6rem;
        background-color: $color-primary-light-1;
        overflow: hidden;

        @media only screen and (max-width: $bp-small) {
            margin: 1rem auto;
            order: 5;
            // margin-left: aut;
        }

        @media only screen and (max-width: $bp-mini) {
            order: 0;
        }
    }

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: $color-grey-light-1;
        text-decoration: none;
        
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.2rem;
        }
    }

    &__item {
        cursor: pointer;
        padding: 7px 3rem;
        margin: 1px;
        transition: all ease-out .01s;
        // transition: cubic-bezier(0,2,0,1);
        // transition-duration: 1s;
        
        &--active {
            box-shadow: inset 0 0 2px #111;
            background: $color-primary-dark-1;
        }

        &-1:active,
        &-1:focus {
            border-top-left-radius: 6rem;
            border-bottom-left-radius: 6rem;
            box-shadow: inset 0 0 2px #111;
            background: $color-primary-dark-1;
        }

        &-3:active,
        &-3:focus {
            border-top-right-radius: 6rem;
            border-bottom-right-radius: 6rem;
            box-shadow: inset 0 0 2px #111;
            background: $color-primary-dark-1;
        }
    }
    @media only screen and (max-width: $bp-small) {
        justify-content: space-between;
        flex-wrap:  wrap;
        height: auto;
        // flex-grow: 1;
    }

    @media only screen and (max-width: $bp-mini) {
        flex-direction: column;
        flex: 0 0;
        // align-content: center;
    }
}