// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-logo: 'Cocogoose Pro Regular', sans-serif;

@font-face {
    font-family: 'Cocogoose Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cocogoose Pro Regular'), url('Cocogoose Pro Regular Trial.woff') format('woff');
}

// .heading-1 {

// }

// .heading-2 {

// }

.heading-3 {
    font-family: $font-primary;
    font-size: 1.4rem;
    color: #fff;
    padding-bottom: .5rem;
}